<div class="modal-header">
   <h4 class="modal-title">Register product:</h4>
</div>
<div class="modal-body">
  <form name="form" role = "form" class="well" ng-submit="dc.ok()">
    <div class = "form-group">
      <label for = "name"> Name:  </label>
      <input type = "text" id="name" pattern="[a-zA-Z ]+" minlength="2" maxlength="254" class="form-control" title="Only alphabetic characters" ng-model = "dc.product.name">
    </div>
    <div class = "form-group">
      <label for = "model"> Model:  </label>
      <select id="select" ng-model="dc.model" ng-options="model as model.description for model in dc.models">
        <option value="">***Select a model***</option>
      </select>
    </div>
      <div class = "form-group">
      <label for = "stock"> Stock:  </label>
    <input type = "text" id="stock" pattern="[0-9]+" maxlength="9" class="form-control" title="Only numeric characters" ng-model="dc.product.stock">
    </div>
    <div class="form-actions modal-footer">
      <button type="submit" class="btn btn-primary" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-default" ng-click="dc.cancel()">Close</button>
    </div>
  </form>
</div>
