<h3>Lottery</h3>
<a ng-if="!dc.create" ng-click="dc.openCreateOption()" role = "button" class = "btn btn-info">Create Lottery Season</a>

<div ng-if="dc.create">
  <h4> Create a season Lottery: </h4>
  <form role = "form" class="well" ng-hide="ifSearchUser">
    <div class = "form-group">
      <label for = "season"> Name:  </label>
      <input type = "text" id = "season" class = "form-control" placeholder = "Enter season name " ng-model = "dc.lot.season" required>
    </div>
    <div class = "form-group">
      <label for = "description"> Description:  </label>
      <input type = "text" id = "description" class = "form-control" placeholder = "Enter description " ng-model = "dc.lot.description">
    </div>
    <div class = "form-group">
      <label for = "date"> Start Date:  </label>
      <input type = "date" id = "date" class = "form-control" ng-model = "dc.lot.start" required>
    </div>
    <div class = "form-group">
      <label for = "date"> End Date:  </label>
      <input type = "date" id = "date" class = "form-control" ng-model = "dc.lot.end" required>
    </div>

    <input type="button" class="btn btn-primary" ng-click="dc.createSeasonLottery(dc.lot)" class="btn btn-primary" value = "Save">
    <input type="button" class="btn btn-primary" ng-click="dc.cancel()" class="btn btn-primary" value = "Cancel">
  </form>
</div>

<hr>
<h4>Active Lottery:</h4>
<table ng-if="dc.activeLottery.season" class = "table table-striped table-bordered table-hover">
  <thead>
    <tr class = "info">
      <th>Lottery season name</th>
      <th>Description</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ dc.activeLottery.season }}</td>
      <td>{{ dc.activeLottery.description }}</td>
      <td>{{ dc.activeLottery.startAt }}</td>
      <td>{{ dc.activeLottery.endAt }}</td>
      <td>
        <a ng-click="dc.drawPrizeLottery(dc.activeLottery)">Make draw Prize</a>
      </td>
    </tr>
  </tbody>
</table>

<hr>
<div ng-show="!dc.draw">
<h4>Lotteries:</h4>
<table ng-if="dc.lotteries.length" class = "table table-striped table-bordered table-hover">
  <thead>
    <tr class = "info">
      <th>Lottery season name</th>
      <th>Description</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Active</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="lottery in dc.lotteries">
      <td>{{ lottery.season }}</td>
      <td>{{ lottery.description }}</td>
      <td>{{ lottery.startAt }}</td>
      <td>{{ lottery.endAt }}</td>
      <td>{{ lottery.active }}</td>
      <td>
        <a ng-click="dc.winnersLottery(lottery.id)">Show winners</a>
      </td>
    </tr>
  </tbody>
</table>
</div>
<div ng-show="dc.draw">
  <table ng-if="dc.availableCustomers.length" class = "table table-striped table-bordered table-hover">
    <thead>
      <tr class = "info">
        <th>Available Customers</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="customers in dc.availableCustomers">
        <td>{{ customers.custDni }}</td>
      </tr>
    </tbody>
  </table>
  <a ng-if="dc.availableCustomers.length" ng-click="dc.makeDrawPrize(dc.availableCustomers)" role = "button" class = "btn btn-info">Draw Prize</a>
  <a ng-if="dc.winners.length" ng-click="dc.complete()" role = "button" class = "btn btn-info">Complete</a>
  <table ng-if="dc.winners.length" class = "table table-striped table-bordered table-hover">
    <thead>
      <tr class = "info">
        <th>Winner Customers</th>
        <th>Dni</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="customers in dc.winners">
        <td>{{ customers.name }}</td>
        <td>{{ customers.dni }}</td>
      </tr>
    </tbody>
  </table>

</div>
