<div>
  <h4><b>Registered products:</b></h4>
  <label for="input"> Search: <input ng-model="pc.searchText" placeholder="Product name"></label>
  <div class="scroll-table">
    <table ng-if="pc.products.length" class = "table table-striped table-bordered table-hover">
      <thead>
        <tr class = "info">
          <th>Name</th>
          <th>Model</th>
          <th>stock</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat = "product in pc.products | filter:pc.searchText">
          <td>{{ product.name }}</td>
          <td>{{ product.model }}</td>
          <td>{{ product.stock }}</td>
          <td>
            <a ng-click="pc.openEditProductDialog(product)" role = "button" class = "btn btn-info">edit</a>
            <a ng-click="pc.deleteProduct(product.name, product.id)" role = "button" class = "btn btn-danger">delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-hide="pc.products.length > 0">No Products Found</div>
</div>

 <hr>
 <div >
   <button class="btn btn-primary" ng-click="pc.openCreateProductDialog()">Add new Product</button>
   <button class="btn btn-primary" ng-click="pc.productModals()">Product Model settings</button>
 </div>
 <br/>
