<h2>Buy page</h2>
<h3>All registered users:</h3>
<ul>
    <li ng-repeat="user in purc.allUsers">
        {{user.name}}
        - <a ng-if="purc.allUsers.length > 1" ng-click="purc.selectOne(user.dni)">Select</a>
         <a ng-if="purc.allUsers.length == 1" ng-click="purc.loadAllUsers()">Cancel</a>
    </li>
    <div ng-if="purc.allUsers.length == 1">
      <br>
      <h4>Show products to buy: </h4>
      <table ng-if="purc.allProducts.length" class = "table table-striped table-bordered table-hover">
        <thead>
          <tr class = "info">
            <th>Name</th>
            <th>Model</th>
            <th>Purchase</th>
            <!-- <th ng-if="!ifSearchUser">Action</th> -->
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat = "product in purc.allProducts">
            <td>{{ product.name }}</td>
            <td>{{ product.model }}</td>
            <td>
              <input
                type="checkbox"
                value="{{product.id}}"
                ng-click="purc.ProductToBuy(product)"
              >
            </td>
          </tr>
        </tbody>
      </table>
      <a ng-click="purc.CommitPurchase()" role = "button" class = "btn btn-info">Buy</a>
    </div>
</ul>
