<div>
  <h3><b>Registered customers:</b></h3>
  <label for="input"> Search: <input ng-model="reg.searchText" placeholder="Customer name or dni"></label>
  <div class="scroll-table">
    <table ng-if="reg.allUsers.length" class = "table table-striped table-bordered table-hover">
      <thead>
        <tr class = "info">
          <th>Customer Name</th>
          <th>Customer Dni</th>
          <th>Action</th>
          <!-- <th ng-if="!ifSearchUser">Action</th> -->
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat = "user in reg.allUsers | filter:reg.searchText">
          <td>{{ user.name }}</td>
          <td>{{ user.dni }}</td>
          <td>
            <a ng-click="reg.editCustomer(user)" data-toggle="modal" data-target="#registerModal" role="button" class="btn btn-info">Edit</a>
            <a ng-click="reg.deleteCustomer(user.dni)" role = "button" class = "btn btn-danger">delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-hide="reg.allUsers.length > 0">No Customers Found</div>

  <hr>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registerModal">
    Register new Customer
  </button>

  <!-- Modal -->
  <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div cass="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="registerModalLabel">Register new customer:</h4>
        </div>
        <div class="modal-body">
          <form name="form" class="well" ng-submit="reg.register()" role="form">
              <!-- <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div> -->
              <div class="form-group" >
                  <label for="name">Name:</label>
                  <input type="text" pattern="[a-zA-Z ]+" minlength="2" maxlength="254" name="name" id="name" class="form-control" ng-model="reg.user.name" title="Only alphabetic characters"/>
              </div>
              <div class="form-group" >
                  <label for="dni">Dni:</label>
                  <input type="text" pattern="[0-9]+" name="dni" id="dni" minlength="3" maxlength="9" class="form-control" ng-disabled="!reg.registerNew" ng-model="reg.user.dni" title="Only numeric characters" />
              </div>
              <div class="form-group"  >
                  <label for="address">Address:</label>
                  <input type="text" pattern="[a-zA-Z0-9 .]+" name="address" id="address" class="form-control" ng-model="reg.user.address" title="Only alphanumeric characters" />
              </div>
              <div class="form-group" >
                  <label for="email">E-mail:</label>
                  <input type="email" pattern="[A-Za-z0-9._+-]+@[a-z0-9.-]+\.[a-z]{2,4}" name="email" id="email" class="form-control" ng-model="reg.user.email" />
              </div>
              <div class="form-group" >
                  <label for="phone">Phone:</label>
                  <input type="text" pattern="[0-9]+" name="phone" id="phone" minlength="3" maxlength="9" class="form-control" ng-model="reg.user.phone" />
              </div>
              <div class="form-actions modal-footer" >
                  <button type="submit" class="btn btn-primary" ng-show="reg.registerNew">Register</button>
                  <button ng-click="reg.updateCustomer(reg.user)" class="btn btn-primary" ng-show="!reg.registerNew">Update</button>
                  <button ng-click="reg.cleanFields()" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
<br/>
